#root{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
  background-color: whitesmoke;
}
.contenedor {
    background-image: url('assets/img/portada.jpg'); /* Imagen de fondo */
    background-size: cover; /* Escalar la imagen para llenar el contenedor */
    background-position: center; /* Centrar la imagen */
    height: 700px; /* Altura del contenedor */
    display: flex; /* Usar flexbox para centrar verticalmente el texto */
    justify-content: center; /* Centrar horizontalmente el texto */
    align-items: center; /* Centrar verticalmente el texto */
    width: 100%; /* Ancho del contenedor al 100% */
  }

  /* Estilos para el texto */
  .texto {
    font-size: 2rem; /* Tamaño de fuente */
    color: whitesmoke; /* Color de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    text-align: center; /* Centrar el texto */
    
  }
  .targeta-SN{
    margin: 2rem;
    display: flex; /* Usar flexbox para centrar verticalmente el texto */
    justify-content: center; /* Centrar horizontalmente el texto */
    align-items: center; /* Centrar verticalmente el texto */ 
    background-color: whitesmoke;
   }

