 :root {
     --gray: rgba(1, 1, 1, 0.6);
     --lite: rgba(255, 255, 255, 0.6);
 }


 a {
     margin-left: 10px;
     margin-right: 10px;
 }

 .flex,
 .fixed_flex {
     display: flex;
     text-align: left;
 }

 .flex-content {
     width: 100%;
     position: relative;
 }


 .padding_1x {
     padding: 1rem;
 }

 .padding_2x {
     padding: 2rem;
 }

 footer {
     background-color: #61C0BF;
     color: var(--lite);
     border: 8px solid #5ab3b2;
     border-style: outset;

 }

 footer h3 {
     color: white;
 }

 footer a {
     color: var(--lite);
     display: block;
     margin: 10px ;

 }

 footer p {
     display: block;
     margin: 15px 0;
 }

 table,
 th {
     border: 3px solid white;
 }