 :root {
     --gray: rgba(1, 1, 1, 0.6);
     --lite: rgba(255, 255, 255, 0.6);
 }

 .flex,
 .fixed_flex {
     display: flex;
     text-align: left;
     margin-left: 50px;
     margin-right: 50px;
 }

 .flex-content {
margin-left: 50px; 
margin-right: 50px;

}
 .bl{
    border-left: 8px solid #5ab3b2;
 }
 .br{
    border-right: 8px solid #5ab3b2;
 }

 .padding_1x {
     padding: 1rem;
 }

 .padding_2x {
     padding: 2rem;
 }

 footer {
     background-color: #61C0BF;
     color: var(--lite);
     border: 8px solid #5ab3b2;
     border-style: outset;

 }

 footer h3 {
     color: white;
 }

 .buttonLink {
     color: var(--lite);
     display: block;
     margin: 10px ;

 }


 footer p {
     display: block;
     margin: 15px 0;
 }

 table,
 th {
     border: 3px solid white;
 }

