.card-fp {
    font-weight: bold !important;
    transition: 0.5s;
    :hover {
        .card-fp{
            background-color: rgba(0, 0, 0, 0.4);
        }
        .sh-card-tx {
            visibility: visible;
            opacity: 1;
        }
    }
}
.dark-layout {
    .dark-fp{
        filter: brightness(65%) ;
        
    }
}

.sh-card-tx {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.2s;
}
